n8n-workflows/02_Conversation_Engine.json
{
  "name": "02_Conversation_Engine",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3,
          "maxTokens": 300,
          "responseFormat": {
            "type": "json_object"
          }
        }
      },
      "id": "b2c3d4e5-2222-3333-4444-555566667777",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [400, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIALS",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, direction, message_body, ai_intent) VALUES ($1, 'outbound', $2, $3);",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4444-5555-666677778888",
      "name": "Save AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [600, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIALS",
          "name": "Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{$json[\"customer_phone\"]}}",
        "from": "={{$json[\"twilio_number\"]}}",
        "body": "={{$json[\"reply\"]}}"
      },
      "id": "d4e5f6g7-4444-5555-6666-777788889999",
      "name": "Send via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio Account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Response": {
      "main": [
        [
          {
            "node": "Send via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
