n8n-workflows/03_Qualification_Scorer.json
{
  "name": "03_Qualification_Scorer",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.collected_data || {};\nconst hasData = Object.values(data).some(v => v !== null && v !== \"\");\nreturn { hasData: hasData };"
      },
      "id": "check-empty",
      "name": "Check Empty Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasData }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-empty",
      "name": "IF Data Present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  lead_status: \"unqualified\",\n  lead_score: 0,\n  next_action: \"escalate_or_info\"\n};"
      },
      "id": "return-unqualified",
      "name": "Return Unqualified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [600, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$('Execute Workflow Trigger').item.json.client_config?.scoring_thresholds }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-config",
      "name": "IF Scoring Config Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 500]
    },
    {
      "parameters": {
        "operation": "execute",
        "command": "={{ 'LPUSH audit_logs \"WARNING: Missing scoring configuration for client ID ' + $('Execute Workflow Trigger').item.json.client_id + '\"' }}"
      },
      "id": "log-missing-config",
      "name": "Log Missing Config",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [800, 400],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIALS",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').item.json;\nconst collectedData = input.collected_data || {};\nconst scoringRules = input.client_config?.scoring_rules || {};\nconst thresholds = input.client_config?.scoring_thresholds || { hot: 80, warm: 50 };\nconst configIncomplete = !input.client_config?.scoring_thresholds;\n\nlet totalScore = 0;\n\nfor (const [key, value] of Object.entries(collectedData)) {\n  if (value && scoringRules[key]) {\n    const weight = scoringRules[key].weight || 0;\n    const pointValue = scoringRules[key].values ? (scoringRules[key].values[value] || 0) : 0;\n    totalScore += (weight * pointValue);\n  }\n}\n\nlet status = \"cold\";\nlet nextAction = \"continue_qualifying\";\n\nif (totalScore >= thresholds.hot) {\n  status = \"hot\";\n  nextAction = \"route_to_booking\";\n} else if (totalScore >= thresholds.warm) {\n  status = \"warm\";\n}\n\nreturn {\n  lead_status: status,\n  lead_score: totalScore,\n  next_action: nextAction,\n  config_incomplete: configIncomplete\n};"
      },
      "id": "calculate-score",
      "name": "Calculate Rule-Based Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1000, 500]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Empty Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Empty Data": {
      "main": [
        [
          {
            "node": "IF Data Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Data Present": {
      "main": [
        [
          {
            "node": "IF Scoring Config Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Unqualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Scoring Config Exists": {
      "main": [
        [
          {
            "node": "Calculate Rule-Based Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Missing Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Missing Config": {
      "main": [
        [
          {
            "node": "Calculate Rule-Based Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}