n8n-workflows/05_Escalation_Handler.json
{
  "name": "05_Escalation_Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "m1n2o3p4-1111-2222-3333-444455556666",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO escalations (conversation_id, trigger_reason, priority, escalated_to) VALUES ($1, $2, 'high', 'slack');",
        "options": {}
      },
      "id": "n2o3p4q5-2222-3333-4444-555566667777",
      "name": "Record Escalation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [400, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIALS",
          "name": "Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "webhookUri": "={{$json[\"slack_webhook_url\"]}}",
        "text": "🚨 Urgent Escalation: A customer requires human assistance.\n*Reason:* {{$json[\"escalation_reason\"]}}\n*Phone:* {{$json[\"customer_phone\"]}}",
        "options": {}
      },
      "id": "o3p4q5r6-3333-4444-5555-666677778888",
      "name": "Notify via Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [600, 300],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{$json[\"customer_phone\"]}}",
        "from": "={{$json[\"twilio_number\"]}}",
        "body": "Let me connect you with a human agent who can assist you further. They will get back to you shortly."
      },
      "id": "p4q5r6s7-4444-5555-6666-777788889999",
      "name": "Send Holding Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIALS",
          "name": "Twilio Account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Record Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Escalation": {
      "main": [
        [
          {
            "node": "Notify via Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify via Slack": {
      "main": [
        [
          {
            "node": "Send Holding Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
